body{
    font-family: Arial, serif, Helvetica, sans-serif;
    background: linear-gradient(135deg, #ece9e6, #ffffff);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contaier {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.75);
    border-radius: 15px;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.15);
    padding: 30px;
    width: 320px;
    text-align: center;
    transition: transform 0.3s ease;
}